.home-container{
    background-color:  #111B3E;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
  

}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-container h1 {
    margin-top: 0;
    color:#EFF3F8;
    font-size: 40px;

}



.slider-container{
    margin-left: 55px;
    margin-right: 55px;
}

h2{
    margin: 0;
    font-size: 30px;
    color:#BECDE3;;

}

.cards-container-home{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .home-container h1 {
        font-size: 24px;
    }

    h2{
        font-size: 22px;
    }
  }